In [1]:
from sklearn.model_selection import train_test_split 
from sklearn import metrics
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [12]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC, LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
#데이터 불러오기
new_data = pd.read_csv("/Users/yujinkim/Desktop/코멘토_빅데이터구축및분석(21.07.27~)/data_for_model.csv", encoding='utf-8')

new_data = new_data.drop(['Unnamed: 0'], axis=1)
new_data

,SalePrice,GrLivArea,GarageArea,YearBuilt,TotalBsmtSF,GarageCars,MSZ_num,NbHd_num,Cond2_num,ExtQ_num,BsQ_num,CA_num,KiQ_num,GT_num,GQ_num,Pool_num,SlTy_num,SlCn_num
0,12.247699,1710,548,2003,856,2,3,3,2,3,0,1,3,3,4,1,2,1
1,12.109016,1262,460,1976,1262,2,3,3,2,2,0,1,2,3,4,1,2,1
2,12.317171,1786,608,2001,920,2,3,3,2,3,0,1,3,3,4,1,2,1
3,11.849405,1717,642,1915,756,3,3,3,2,2,0,1,3,1,4,1,2,1
4,12.429220,2198,836,2000,1145,3,3,3,2,3,0,1,3,3,4,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,12.072547,1647,460,1999,953,2,3,3,2,2,0,1,2,3,4,1,2,1
1456,12.254868,2073,500,1978,1542,2,3,3,2,2,0,1,2,3,4,1,2,1
1457,12.493133,2340,252,1941,1152,1,3,3,2,4,0,1,3,3,4,1,2,1
1458,11.864469,1078,240,1950,1078,1,3,2,2,2,0,1,3,3,4,1,2,1
1459,11.901590,1256,276,1965,1256,1,3,2,2,3,0,1,2,3,4,1,2,1

In [7]:
#feature와 label 나누기 

label = new_data['SalePrice']
features = new_data.drop(['SalePrice'],axis=1, inplace = False)

X_train, X_test, Y_train, Y_test = train_test_split(features, label, test_size=0.2, random_state=1)

In [8]:
len(X_train)

1168

In [9]:
X_train

,GrLivArea,GarageArea,YearBuilt,TotalBsmtSF,GarageCars,MSZ_num,NbHd_num,Cond2_num,ExtQ_num,BsQ_num,CA_num,KiQ_num,GT_num,GQ_num,Pool_num,SlTy_num,SlCn_num
921,2200,0,1900,1272,0,3,2,2,2,0,1,2,0,0,1,2,1
520,1294,0,1900,0,0,3,2,2,2,0,0,2,0,0,1,2,1
401,1310,400,2005,1310,2,3,3,2,3,0,1,3,3,4,1,4,1
280,1982,575,1989,807,2,3,3,2,3,0,1,3,3,4,1,2,1
1401,1593,398,2004,839,2,3,3,2,2,0,1,2,3,4,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1350,478,1974,1064,2,3,3,2,2,0,1,2,3,4,1,2,1
905,1063,280,1954,1056,1,3,2,2,2,0,1,2,3,4,1,2,1
1096,1355,0,1914,684,0,2,2,2,2,0,1,3,0,0,1,2,1
235,987,264,1971,483,1,2,2,2,2,0,1,2,1,4,1,2,1
1061,894,1248,1935,894,3,2,2,2,1,0,1,2,1,4,1,2,1

In [18]:
Y_train

133     12.301387
290     12.359785
24      11.944714
1093    11.891369
1288    12.535380
          ...
802     12.149508
53      12.861001
350     12.670002
79      11.608245
792     12.505403
Name: SalePrice, Length: 1168, dtype: float64

In [13]:
#Linear Regression, Lasso, Ridge 시도
linear = LinearRegression()
lasso = Lasso()
ridge = Ridge()

#학습
linear.fit(X_train, Y_train)
lasso.fit(X_train,Y_train)
ridge.fit(X_train, Y_train)

Ridge()

In [14]:
#rmse 이용 평가 함수 생성 
def get_rmse(model):
    pred = model.predict(X_test)
    mse = mean_squared_error(Y_test, pred)
    rmse = np.sqrt(mse)
    print(model.__class__.__name__, 'RMSE:', np.round(rmse,3))
    return rmse

In [17]:
def get_rmses(models):
    rmses = []
    for model in models:
        rmse = get_rmse(model)
        rmses.append(rmse)
    return rmses

In [18]:
models = [linear, lasso, ridge]
get_rmses(models)

LinearRegression RMSE: 0.157
Lasso RMSE: 0.189
Ridge RMSE: 0.158

[0.15674923754219175, 0.1893091471887397, 0.15833386705462166]